section {
	background-color: #f5f5dd;
	width: 200px;
	height: 500px;
}
div {
    width: 100px;
	height: 100px;
  
    margin: 0 auto;
    margin-bottom: 10px;
}
.div1 {
    background: rgb(0, 0, 0,100%)
}
.div2 {
    background: rgb(0, 0, 0, 75%)
}
.div3 {
    background: rgb(0, 0, 0, 50%)
}
.div4 {
    background: rgb(0, 0, 0, 25%)
}